<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="userDefinedDirectories" type="SimpleBackup.Domain.UserDefinedDirectories.UserDefinedDirectoriesConfigurationSectionHandler,SimpleBackup.Domain" />
  </configSections>
  
  <appSettings>
    <!-- General Configuration -->
    <add key="TempDirectory" value="C:\Temp\" /> <!-- Some Temporary Directory which can be used for backing files up into -->
    <add key="Password" value="p@ssw0rd" /> <!-- the password used to encrypt the backup archive -->
    <add key="RemoteBackupsToKeep" value="7" /> <!-- the number of remote backups which should be kept (Cloud/S3) -->
    <add key="LocalBackupsToKeep" value="30" /> <!-- the number of local backups which should be kept -->
    
    <!-- Local Storage Configuration -->
    <add key="LocalBackupDirectory" value="D:\LocalBackups\" /> <!-- the directory where local backups should be held -->
    
		<!-- 7Zip Configuration -->
		<add key="SevenZipInstallationDirectory" value="C:\Program Files\7-Zip\" />
		
    <!-- S3 Configuration -->
    <add key="S3Bucket" value="xxxxxxxxxxx" /> <!-- the bucket name used to hold data in S3 -->
    <add key="S3AccessKey" value="xxxxxxxxxxxxxxxxxxx" /> <!-- the access key used to interact with S3 -->
    <add key="S3SecretAccessKey" value="xxxxxxxxxxxxxxxxxxxxxxx" /> <!-- the secret access key used to interact with S3 -->
    <add key="S3Prefix" value="ServerBackups" /> <!-- the prefix which should be given to archives (automatically gets a '/' appended to the end of it -->
    
    <!-- SQL Server Backup -->
    <add key="SQLServer" value="localhost" /> <!-- SQL Server location (localhost, localhost\sqlexpress etc) -->
    <add key="SQLServerAuth" value="SSPI" /> <!-- SSPI or Credentials -->
    <add key="SQLServerUser" value="username" /> <!-- SQL Server Username (used if 'SQLServerAuth' is set to 'Credentials') -->
    <add key="SQLServerPass" value="password" /> <!-- SQL Server Username (used if 'SQLServerAuth' is set to 'Credentials') -->
		<add key="SQLServerTimeout" value="300" /> <!-- SQL Server Timeout e.g. 90 -->
		
		<!-- Email Outcome Notifications -->
		<add key="SmtpSenderEmailAlias" value="Backup Agent" />
		<add key="SmtpUseDefaultCredentials" value="false" />
		<add key="SmtpSenderEmailAddress" value="backups@me.com" />
		<add key="SmtpSenderPassword" value="p@ssw0rd" />
		<add key="SmtpSubject" value="Nightly Backup Status" />
		<add key="SmtpToEmailAddresses" value="you@me.com" />
		<add key="SmtpServer" value="mail.google.com" />
		<add key="SmtpPort" value="587" />
    <add key="SmtpUseSsl" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userDefinedDirectories>
    <!-- a list of custom directories which should be archived -->
    <DirectoryConfiguration>
      <FriendlyName>Friendly Name 1</FriendlyName>
      <Path>C:\SomePath\1\</Path>
    </DirectoryConfiguration>
    <!--
    <DirectoryConfiguration>
      <FriendlyName>Friendly Name 2</FriendlyName>
      <Path>C:\SomePath\2\</Path>
    </DirectoryConfiguration>
    <DirectoryConfiguration>
      <FriendlyName>Friendly Name 3</FriendlyName>
      <Path>C:\SomePath\3\</Path>
    </DirectoryConfiguration>
    <DirectoryConfiguration>
      <FriendlyName>Friendly Name 4</FriendlyName>
      <Path>C:\SomePath\4\</Path>
    </DirectoryConfiguration>
    -->
  </userDefinedDirectories>
  
</configuration>