<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="userDefinedDirectories" type="SimpleBackup.BackupSources.LocalFileSystem.ConfigurationSections,SimpleBackup.BackupSources.LocalFileSystem" />
  </configSections>
  
  <appSettings>
    <!-- General Configuration -->
    <add key="TempDirectory" value="C:\Temp\" /> <!-- Some Temporary Directory which can be used for backing files up into -->
    <add key="Password" value="p@ssw0rd" /> <!-- the password used to encrypt the backup archive -->
    
    <!-- Amazon S3 -->
    <add key="Amazon.AccessKey" value="xxxxxxxxxxx" /> <!-- the access key used to interact with S3 -->
    <add key="Amazon.BackupEnabled" value="false" />
    <add key="Amazon.Bucket" value="xxxxxxxxxxx" /> <!-- the bucket name used to hold data in S3 -->
    <add key="Amazon.NumberOfBackupsToKeep" value="7" />
    <add key="Amazon.Prefix" value="ServerBackups" /> <!-- the prefix which should be given to archives (automatically gets a '/' appended to the end of it -->
    <add key="Amazon.SecretAccessKey" value="xxxxxxxxxxx" /> <!-- the secret access key used to interact with S3 -->
    
    <!-- Email -->
    <add key="Email.FromAddress" value="backups@me.com" />
    <add key="Email.FromAlias" value="Backup Agent" />
    <add key="Email.FailureSubject" value="Nightly Backup Status (ERROR)" />
    <add key="Email.SmtpPassword" value="passw0rd" />
    <add key="Email.SmtpPort" value="587" />
    <add key="Email.SmtpRequiresSsl" value="true" />
    <add key="Email.SmtpSenderAddress" value="backups@me.com" />
    <add key="Email.SmtpServer" value="mail.me.com" />
    <add key="Email.SuccessfulSubject" value="Nightly Backup Status (Successful)" />
    <add key="Email.ToAddresses" value="you@me.com;foo@bar.com" /> <!-- Semi-Colon seperated list of users -->
    <add key="Email.UseDefaultCredentials" value="false" />
    
    <!-- Local Storage -->
    <add key="LocalStorage.BackupDirectory" value="D:\LocalBackups\" />
    <add key="LocalStorage.BackupsEnabled" value="true" />
    <add key="LocalStorage.NumberOfBackupsToKeep" value="10" />
    
    <!-- 7Zip -->
    <add key="SevenZip.FilePath" value="C:\Program Files\7-Zip\7z.exe" />
    
    <!-- Sql Server -->
    <add key="SqlServer.Authentication" value="SSPI" /> <!-- 'SSPI' or 'Credentials' -->
    <add key="SqlServer.BackupsEnabled" value="true" />
    <add key="SqlServer.Instance" value="localhost\sqlexpress" /> <!-- SQL Server instance (localhost, localhost\sqlexpress etc) -->
    <add key="SqlServer.Password" value="password" /> <!-- SQL Server Password (used if 'SqlServer.Authentication' is set to 'Credentials') -->
    <add key="SqlServer.Timeout" value="300000" /> <!-- SQL Server Timeout e.g. 90 -->
    <add key="SqlServer.Username" value="username" /> <!-- SQL Server Username (used if 'SqlServer.Authentication' is set to 'Credentials') -->
    
    <!-- User Data -->
    <add key="UserData.BackupsEnabled" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userDataDirectories>
    <!-- a list of custom directories which should be archived -->
    <DirectoryConfiguration>
      <FriendlyName>Friendly Name 1</FriendlyName>
      <Path>C:\SomePath\1\</Path>
    </DirectoryConfiguration>
    <!--
    <DirectoryConfiguration>
      <FriendlyName>Friendly Name 2</FriendlyName>
      <Path>C:\SomePath\2\</Path>
    </DirectoryConfiguration>
    <DirectoryConfiguration>
      <FriendlyName>Friendly Name 3</FriendlyName>
      <Path>C:\SomePath\3\</Path>
    </DirectoryConfiguration>
    <DirectoryConfiguration>
      <FriendlyName>Friendly Name 4</FriendlyName>
      <Path>C:\SomePath\4\</Path>
    </DirectoryConfiguration>
    -->
  </userDataDirectories>
  
</configuration>